NODE_ENV=development
PORT=4003
KAFKA_BROKER=localhost:9095
JWT_ACCESS_SECRET=change_me_to_a_long_random_string_at_least_32_chars
REDIS_URL=redis://:realtimepass@localhost:6380
INTERNAL_SERVICE_KEY=change_me_to_a_long_random_string_at_least_32_chars