NODE_ENV=development
PORT=4005
KAFKA_BROKER=localhost:9095
REDIS_URL=redis://:realtimepass@localhost:6380
CHAT_SERVICE_URL=http://localhost:4002
JWT_ACCESS_SECRET=change_me_to_a_long_random_string_at_least_32_chars
CLIENT_ORIGINS=http://localhost:3000
INTERNAL_SERVICE_KEY=change_me_to_a_long_random_string_at_least_32_chars
